body {
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}
body.modern-dark {
    background-color: #1f1f1f;
}
body.modern-light {
    background-color: #f1f1f1;
}
