<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/root.css" />
        <link rel="stylesheet" href="/static/{{ theme }}.css" id="theme-css" />
        <link rel="icon" href="/static/favicon.ico" />
        <title>Guestbook Admin</title>
    </head>
    <body>
        <div id="main">
            <div id="top">
                <h1>Guestbook Admin</h1>
                <p>Change your settings!</p>
            </div>
            <div id="middle">
                <div class="setup-setting">
                    <h2>Basic information</h2>
                    <label for="name" id="input-name-label">Name</label>
                    <input id="name" type="text" />
                    <label for="description" id="input-description-label"
                        >Description</label
                    >
                    <input id="description" type="text" />
                    <label for="website" id="input-website-label"
                        >Website</label
                    >
                    <input id="website" type="text" />
                </div>
                <div class="setup-setting">
                    <h2>Theme</h2>
                    <select id="theme">
                        <option value="retro-space">Retro Space</option>
                        <option value="retro-dark">Retro Dark</option>
                        <option value="retro-light">Retro Light</option>
                        <option value="modern-dark">Modern Dark</option>
                        <option value="modern-light">Modern Light</option>
                        <option value="custom">Custom!</option>
                    </select>
                    <p id="custom-css-p">
                        Custom CSS: (Hint: It is recommended to see CSS for
                        existing themes in the
                        <a href="https://github.com/jab11n/openguestbook"
                            >GitHub Repo</a
                        >
                        for reference - see static/retrospace.css and other CSS
                        files.)
                    </p>
                    <textarea id="custom-css"></textarea>
                </div>
                <div class="setup-setting">
                    <h2>How users access your guestbook</h2>
                    <select id="fields">
                        <option value="name-comment-website">
                            Name, comment, and website
                        </option>
                        <option value="name-comment">Name and comment</option>
                        <option value="name">Name only</option>
                    </select>
                </div>
                <div class="setup-setting">
                    <h2>Set character limits</h2>
                    <label for="charlimit-name" id="charlimit-name-label"
                        >Name</label
                    >
                    <input type="number" id="charlimit-name" />
                    <label for="charlimit-comment" id="charlimit-comment-label"
                        >Comment</label
                    >
                    <input type="number" id="charlimit-comment" />
                    <label for="charlimit-website" id="charlimit-website-label"
                        >Website</label
                    >
                    <input type="number" id="charlimit-website" />
                </div>
                <div class="setup-setting">
                    <h2>Restrict words</h2>
                    <div class="restrictedwords">
                        <input
                            type="text"
                            id="restricted-word"
                            placeholder="Restricted word..."
                        />
                        <button id="add-restricted-word">+</button>
                    </div>
                </div>
                <div class="setup-setting">
                    <h2>Admin key</h2>
                    <p>
                        This key is EXTREMELY important and is what lets you
                        access these settings. If you need to change your key,
                        do it here. Make sure to save it somewhere safe, such as
                        writing it down or adding it to your password manager.
                    </p>
                    <button id="generate">Generate & copy new key</button>
                    <button id="current">Copy current key</button>
                </div>
                <div class="setup-buttons">
                    <button id="save">Save settings</button>
                    <button id="logout">Log out</button>
                </div>
            </div>
        </div>
        <p class="foot">
            <a href="https://github.com/jab11n/openguestbook">Repo</a> |
            <a href="https://opensource.org/license/mit">MIT License</a> | Made
            with ❤ and Flask for
            <a href="https://summer.hackclub.com">Hack Club Summer of Making</a>
            by <a href="https://github.com/jab11n">Jab11n</a>
        </p>

        <script src="/static/admin/admin.js"></script>
        <script>
            window.currentConfig = {{ data | tojson }}; // THIS WILL SHOW AS AN ERROR IN SOME CODE EDITORS but it's correct and necessary so if youre editing this yourself dont change this unless you know what youre doing
        </script>
    </body>
</html>
