<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/root.css" />
        <link rel="stylesheet" href="/static/retrospace.css" id="theme-css" />
        <link
            rel="stylesheet"
            href="/static/setup/setup-retrospace.css"
            id="page-theme-css"
        />
        <link rel="icon" href="/static/favicon.ico" />
        <title>Guestbook Setup</title>
    </head>
    <body>
        <div id="main">
            <div id="top">
                <h1>Welcome to your guestbook!</h1>
                <p>
                    This 'wizard' will help you get your guestbook set up and
                    personalized.
                </p>
                <div id="steps">
                    <div class="step step-active">Basic Setup</div>
                    <div class="step">Choose how users sign</div>
                    <div class="step">Add to your website</div>
                    <div class="step">Final steps</div>
                </div>
            </div>
            <div id="middle"></div>
        </div>
        <p class="foot">
            <a href="https://github.com/jab11n/openguestbook">Repo</a> |
            <a href="https://opensource.org/license/mit">MIT License</a> | Made
            with ❤ and Flask for
            <a href="https://summer.hackclub.com">Hack Club Summer of Making</a>
            by <a href="https://github.com/jab11n">Jab11n</a>
        </p>

        <script src="/static/setup/setup.js"></script>
    </body>
</html>
